<div class="square">
    <h1 class="garageplug">GaragePlug</h1>
</div>

<div class="row">
    <p class="price">PRICE</p>
</div>

<div class="row">
    <p class="selected-services">Selected Services</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="car1" src="../../assets/car1.png">
        <p class="heading">LORUM IPSUM</p>
    </div>

    <div class="col-md-4">
        <img class="car2" src="../../assets/car1.png">
        <P class="lorem-ipsum">LORUM IPSUM</P>
    </div>

    <div class="col-md-4">
        <button class="change">CHANGE</button>
    </div>
</div>

<div class="row">
    <p class="car-size">Car Size</p>
</div>

<div class="row">
    <div class="col">
        <img class="car1" src="../../assets/car1.png">
<p class="sedan">Sedan</p>
    </div>
    
</div>
 
<div class="row">
    <div class="col-md-6">
        <p class="total-price">TOTAL PRICE</p>
    </div>
    <div class="col-md-6">
        <p class="xxx-aed">XXX AED</p> 
    </div>
    
</div>

<div class="row">
    <button class="continue">CONTINUE</button>
</div>








