<div class="square">
    <h1 class="garageplug">GaragePlug</h1>
</div>

<div class="row">
    <p class="services">SERVICES</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="car1" src="../../assets/car1.png">
        <p class="lorem-ipsum">LOREM IPSUM</p>
    </div>

    <div class="col-md-4">
        <img class="car2" src="../../assets/car1.png">
        <p class="ipsum-lorem">LORUM IPSUM</p>
    </div>

    <div class="col-md-4">
        <img class="car3" src="../../assets/car1.png">
        <p class="ipsum">LORUM IPSUM</p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <img class="car1" src="../../assets/car1.png">
        <p class="lorem-ipsum">LORUM IPSUM</p> 
    </div>

    <div class="col-md-4">
        <img class="car2" src="../../assets/car1.png">
        <p class="ipsum-lorem">LORUM IPSUM</p>
    </div>

    <div class="col-md-4">
        <img class="car3" src="../../assets/car1.png">
        <p class="ipsum">LORUM IPSUM</p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <img class="car1" src="../../assets/car1.png">
        <p class="lorem-ipsum">LORUM IPSUM</p>
    </div>

    <div class="col-md-4">
        <img class="car2" src="../../assets/car1.png">
        <p class="ipsum-lorem">LORUM IPSUM</p>
    </div>

    <div class="col-md-4">
        <img class="car3" src="../../assets/car1.png">
        <p class="ipsum">LORUM IPSUM</p>
    </div>
</div>

<div class="row">
    <button [routerLink]="'/car-size'" class="continue">CONTINUE</button>
</div>












